.newLine {
  width: 25%;
  height: 33px;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 1rem;
  color: #000;
  border-radius: 4px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-bottom: 55px;
}
.newLine:hover {
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
  border-color: #63a464;
  border-width: 2px;
  background-color: rgb(253, 253, 253);
}