.subMenuTitle {
  color: #f0f0f0;
  max-height: 25px;
  max-width: 130px;
  display: flex;
  text-align: left;
  padding-right: 15px;
  align-items: center;
  cursor: pointer;
  margin: 0;
  margin-bottom: 20px;
}
.bColor {
  color: #05ff19 !important
}
.subMenuTitle:hover {
  color: #05ff19;
}

.menuArrow {
  pointer-events: none;
  min-width: 15px;
  min-height: 15px;
  margin-top: 2px;
  transition: transform .3s ;
  transform: rotate(270deg);
  color: #05ff19 !important
}
.dNone {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}